.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  position: relative;
}
.button {
  position: absolute;
}
.left-arrow {
  top: 50%;
  left: 5%;
}

.right-arrow {
  top: 50%;
  right: 0%;
}

.image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  image-rendering: high-quality;
  margin: 0px 20px 0px;
}

.images-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
}

/*
1. Resizing and Responsiveness:
max-width: 100%: This ensures the image never overflows its container, scaling down to fit but not upscaling. 
height: auto: Maintains the image's original aspect ratio when scaling down. 
object-fit: Controls how an image fits within its container, while maintaining aspect ratio. 
cover: Fills the container, clipping the image if necessary. 
contain: Fits the image within the container, potentially leaving space. 
fill: Stretches or squishes the image to fill the container. 
none: The image is not resized. 


2. Image Scaling Quality:
image-rendering: Specifies the algorithm used for image scaling.
auto: (Default) Let the browser choose the algorithm.
pixelated: Preserves pixel appearance for a pixelated look.
crisp-edges: (Non-standard) Similar to pixelated, but with better results on some browsers.
smooth: Smooths out the image during scaling.
optimize-contrast: (Non-standard) Optimizes contrast during scaling.
optimize-speed: (Non-standard) Optimizes speed during scaling.
high-quality: (Non-standard) Prioritizes image quality during scaling.

*/

